@charset "utf-8";
/* CSS Document */

p {
	font-size: 100px;
	text-align: center;
}
h1 {
	font-size: 50px;
	text-align: center;
}
ul {
	list-style-type: none;
	margin-left: 0px auto;
	margin-right: 0px auto;
	padding: 0;
	overflow: auto;
}
li {
	float: left;
}
a:link, a:visited {
	display: block;
	width: 120px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #bebebe;
	text-align: center;
	padding: 4px;
	text-decoration: none;
	text-transform: uppercase;
}
